{# filepath: /D:/wamp64/www/iut/apiSymfony/templates/admin/reservation/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
<h1>Reservation List</h1>

<table>
    <thead>
        <tr>
            <th>Date</th>
            <th>Time Slot</th>
            <th>Event Name</th>
            <th>User</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for reservation in reservations %}
        <tr>
            <td>{{ reservation.date|date('Y-m-d') }}</td>
            <td>{{ reservation.timeSlot|date('H:i') }}</td>
            <td>{{ reservation.eventName }}</td>
            <td>{{ reservation.user.email }}</td>
            <td>
                <a href="{{ path('admin_reservation_show', {'id': reservation.id}) }}">Show</a>
                <a href="{{ path('admin_reservation_edit', {'id': reservation.id}) }}">Edit</a>
                <form method="post" action="{{ path('admin_reservation_delete', {'id': reservation.id}) }}"
                    style="display:inline-block;">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reservation.id) }}">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<a href="{{ path('admin_reservation_new') }}">Create new</a>
{% endblock %}